@font-face {
    font-family: 'Montserrat-light';
    src: url(./montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}
body{
    background-color: #0B0020;
    text-align: center;
    height: 100%;
    width: 100%;
}

.titulo h1{
    display: inline-block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 4em;
    padding: 0.5em;
    border-radius: 7px;
    background-color: #00FF8C;
    color: #0B0020;
    font-family: 'Montserrat-bold';
    font-size: 24px;
    text-transform: capitalize;
}

.texto{
    text-align: center;
}
.texto h2{
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    color: #FFF;
    font-family: Montserrat-light;
    font-size: 1.7rem;
}
.texto h2 strong{
    font-family: Montserrat-bold;
    text-transform: capitalize;
}

.diario{
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 0fr 0fr 0fr 0fr;
    margin-top: 3em;
    column-gap: 3em;
    row-gap: 2em;
    justify-self: center;
    justify-content: center;
}

.diario div.dia{
    width: 2.2em;
    border-radius: 10px;
    padding-top: 0.7em;
    padding-bottom: 0.7em;
    padding-left: 0.4em;
    padding-right: 0.7em;
    
    color: #00FF8C;
    background-color: #4D00DF;
    font-family: Montserrat-bold;
    font-size: 1.7em;
}



.relatorio{
    display: none;
    overflow: auto;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0%;
    bottom: 0%;
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    background-color: rgb(32, 34, 34);
}

.relatorio .cabeçalho{
    display: flex;
    margin-top: 0.6em;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 0.6em;

}
.relatorio .cabeçalho .autor{
    
    align-self: center;
    font-size: 0.6em;
}
.relatorio .cabeçalho .data{
    
    align-self: center;
    font-size: 0.6em;
}
.relatorio .cabeçalho .fechar{
    transition: width 100ms;
    top: 0;
    right: 0;
    position: absolute;
    width: 1.33em;
    
}
.relatorio .cabeçalho .fechar:hover{
    width: 1.6em;
}
.relatorio .corpo {
    margin-left: 2em;
    margin-right: 2em;

}

.relatorio .corpo .questoes{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    text-align: start;
}
.relatorio .corpo .questao{
    position: relative;
    text-align: start;

}
.relatorio .corpo strong.pergunta{
    font-size: 0.6em;
    color: #ffffff;
    text-align: start;

}
.relatorio .corpo p.resposta{
    color: #dddddd;
    font-size: 19px;
    font-family: Montserrat-light;
    
}

#aviso{
    font-family: Montserrat-light;
    color: #dddddd;
}