@font-face {
    font-family: 'Open-sans';
    src: url(./open-sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'Montserrat-light';
    src: url(./montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: 'Montserrat-bold';
    src: url(./montserrat/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'Hagrid-light';
    src: url(./hagrid-light/hagrid-light.ttf);
}
html{
    font-size: 100%;
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    background-color: #0B0020;
    height: 100%;
    width: 100%;
}
#blur{
    transition: backdrop-filter 400ms;
}
.titulo{
    text-align: center;
}
.titulo h1{
    display: inline-block;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 1em;
    padding: 0.5em;
    border-radius: 7px;
    background-color: #00FF8C;
    color: #0B0020;
    font-family: 'Montserrat-bold';
    font-size: 24px;
    text-transform: capitalize;
}

.conteudo{
    display: flex;
    flex-direction: column;
    margin-left: 7rem;
    margin-right: 7rem;
}

.conteudo .textos{
    width: 27rem;
    color: #FFFFFF;
}
.conteudo .textos h2{
    font-size: 1.9rem;
    font-family: 'Montserrat-light';
}
.conteudo .textos h2 strong{
    font-family: 'Montserrat-bold';
}

.conteudo .opcoes{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.conteudo .opcoes .alunos{
    
    transition: width 100ms, font-size 200ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 14rem;
    height: 14rem;
    border-radius: 28px;
    background-color: #4D00DF;
    font-size: 32px;
    box-shadow: 10px 10px 0px 0px #00FF8C;
}
.opcoes .alunos p{
    margin: 0px;    
    font-size: 0.4em;
    color: #FFFFFF;
}
.opcoes .alunos .aluno{
    font-family: 'Open-sans';
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
}
.opcoes .alunos .nome{
    font-family: 'Montserrat-light';
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 0.2rem;
    padding-bottom: 0px;
}
.opcoes .alunos .sobrenome{

    top: -0.7em;
    font-family: 'Open-sans';
    font-size: 0.4em;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
}



#esquerda:hover a{
    position: absolute;
    width: 100%;
    height: 100%;
}
#direita:hover a{
    position: absolute;
    width: 100%;
    height: 100%;
}
/* dar efeito de blur na pagina (hover em div de selecao) */